@font-face {
    font-family: "Italianno";
    src: url(assets/fonts/Italianno/Italianno-Regular.ttf);
}
@font-face {
    font-family: "League Spartan";
    src: url(assets/fonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-style: none;
    list-style: none;
}

body {
    background-image: url(assets/images/cordilheira.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    font-size: 20px;
}

h1 {
    font-family: "Italianno", "Arial";
    font-size: 3.7em;
    text-align: center;
    color: #FFFFFF;
    margin-top: 10px;
}

#form_retiro {
    background-color: rgba(125, 93, 93, 0.7);
    margin: 61px 6%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#header-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#header-form img {
    opacity: 0.3;
    width: 150px;
}

fieldset {
    border: none;
    width: 100%;
    margin-bottom: 62px;
}

.field_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    height: 65px;
}

.field_container div {
    width: 30%;
    height: 100%;
    
}

label {
    font-size: 1.2em;
    font-family: "League Spartan";
    padding-left: 10px;
    color: #FFFFFF;
    text-align: right;
    width: 100%;
}

.field_container input, select {
    border-radius: 10px;
    width: 100%;
    height: 49px;
    margin: 12px 0;
    font-family: "League Spartan";
    font-size: 0.85em;
    padding: 0 15px;
    border: none;
}

#confirm_field {
    display: flex;
    flex-direction: row;
    gap: 0;
    margin-bottom: 27px;
}

#confirm_field label {
    font-size: 0.89em;
    font-weight: none;
}

button {
    width: 55%;
    height: 45px;
    font-family: "League Spartan", "Arial";
    font-size: 0.9em;
    color: #FFFFFF;
    border: none;
    border-radius: 20px;
}

button:hover {
    cursor: pointer;
}

#send {
    background-color: #1bb63561;
    margin-bottom: 8px;
}

#send:hover{
    background-color: #9af0a861;
}

#remove {
    background-color: #8c272761;
}

#remove:hover {
    background-color: #976b6b61;
}

#field_download {
    color: #FFF;
    font-size: 0.8em;
    font-family: "League Spartan";
    padding-bottom: 30px;
}

#field_download a{
    color: #FFF;
    font-weight: bold;
    text-decoration: underline;
}
